@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
display: none;
}

.animate-ai{
    animation: lePeek 3s infinite;
}

@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}